body {
    background-color: #dfdfdf;
}

p {
    color: #222222;
}

.foto-principal {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    
    /* margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 500px; */
    margin: 30px 30px 30px 30px;
}
